body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.reset-z-detail_mob{
  transform-origin: 0px 0px;
}
/* 
@media (max-width: 576px) {
  .reset-z-detail_mob img{
    max-width: 100% !important;
  }
}
 */

.ant-slider-track{
  background-color: #007bff;
}

.ant-input-number-disabled {
    color: rgba(0, 0, 0, .5);
}